*.log
.DS_Store
Thumbs.db

/node_modules
apps/*/node_modules
packages/*/node_modules

/apps/api/dist
/apps/client/dist

.env
.env.*
!/.env.example

*.db
*.db-journal

.vscode/
.idea/

coverage/
.vite/
.npm
.pnpm-debug.log*